<div class="container">
  <h1 ng-show="!isProfessor">Student Research Form</h1>
  <h1 ng-show="isProfessor">Professor Research Form</h1>
  <div collapse="showResults">
    <div class="form-group">
      <label class="control-label" for="nameInput">Full Name</label>
      <input id="nameInput" ng-model="name" class="form-control" placeholder="Thomas Jefferson" type="text"/>
    </div>

    <!-- UVA EMAIL -->
    <div class="form-group">
      <label class="control-label" for="idInput">UVa Id</label>
      <input required id="idInput" ng-model="id" class="form-control" placeholder="tj8di"
             type="text"/>
    </div>

    <!-- ABOUT STUDENT -->

    <div ng-show="!isProfessor">
      <label>What is your intended major?</label>
      <select class="form-control">
        <option>English</option>
        <option>History</option>
        <option>Economics</option>
        <option>Mathematics</option>
        <option>Physics</option>
        <option>Chemistry</option>
      </select>

      <label>
        <label>Gender?</label>
        <div class="radio">
          <label class="radio-inline" >
            <input type="radio" name="gender" value="male" ng-model="gender" />
            Male
          </label>
        </div>
        <div class="radio">
          <label class="radio-inline">
            <input type="radio" name="gender" value="female" ng-model="gender" />
            Female
          </label>
        </div>
    </div>

    <!-- INTERESTS -->
    <label>Academic Interests</label>
    <accordion close-others="false">
      <accordion-group ng-repeat="field in fields" ng-click="field.open = !field.open" is-open="field.open">
        <accordion-heading>
          <input type="checkbox" ng-click="fieldClick(field, $event)"/>
          {{field.title}}
        </accordion-heading>
        <div class="checkbox" ng-repeat="focus in field.focuses">
          <label>
            <input type="checkbox" ng-click="updateInterest(focus.id, $event.currentTarget.checked, $event);"
                   ng-model="focus.selected"/> {{focus.title}}
          </label>
        </div>
      </accordion-group>
    </accordion>

    <div class="form-group" style="margin-top: 20px;">
      <button class="btn btn-success" ng-click="submitForm()">Submit</button>
    </div>
  </div>
  <div collapse="!showResults">
    <div class="alert alert-success">
      Thank you! Your information has been entered into our system.
      <p ng-show="!isProfessor">
        You should hear back from UVa on your advisor pairing soon.
      </p>
    </div>
  </div>
</div>
